body {
  background-color: beige;
}
h1 {
  background-color: gre;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: rgb(8, 87, 157);
  margin: auto;
  margin-top: 150px;
  margin-bottom: 0px;
  padding: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 7px;
}
.container {
  box-shadow: 5px 5px 10px rgb(175, 175, 175);
}
.container .content-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.container img {
  width: 100px;
}
.container .content-hero h1 {
  color: white;
  font-family: "Open sans", sans-serif;
  font-weight: bold;
}
.container input {
  margin-top: 20px;
  padding: 2px;
  width: 350px;
  margin-right: 15px;
  margin-left: 10px;
  margin-bottom: 0;
}
.container button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #fbfbfb;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container button:hover {
  background-color: #007bff;
  color: #fff;
}
